{{ form_start(form) }}


    {{ form_label(form.firstName, null, {'label_attr': {'class': 'text-secondary'}}) }}
    {{ form_widget(form.firstName) }}

    {{ form_label(form.lastName, null, {'label_attr': {'class': 'text-secondary'}}) }}
    {{ form_widget(form.lastName) }}

    {{ form_label(form.pseudo, null, {'label_attr': {'class': 'text-secondary'}}) }}
    {{ form_widget(form.pseudo) }}

    {{ form_label(form.birth, null, {'label_attr': {'class': 'text-secondary'}}) }}
    {{ form_widget(form.birth) }}
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
