{% extends 'base.html.twig' %}

{% block title %}Modifier mon email{% endblock %}

{% block body %}
    <h3 class="mt-3 mb-4">Modifier mon email</h2>

    <form id="password-form" method="post" action="{{ path('app_user_account_update_email') }}" onsubmit="return checkSubmit(event)">
        <div class="form-group">
            <label class="text-secondary" for="email">Email</label>
            <input class="form-control text-input" type="email" id="email" name="email" value="{{ email }}" required />
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('change-email') }}">
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary" type="submit">Mettre à jour</button>
        </div>
    </form>
    <a class="link-02 mt-3" href="{{ path('app_user_account') }}">Retour à mon compte</a>
    <a class="link-02 mt-3" href="{{ path('app_home') }}">Retour à l'accueil</a>
    <p class="mt-4 text-centered">Après la modification, un email d'activation sera envoyé à la nouvelle adresse.</br>
     Il faudra activer votre compte en cliquant sur le lien contenu par l'email d'activation.</p>

    <script>
    function checkSubmit(event) {
        const email = document.getElementById('email').value;
        // déterminer si l'email est valide par regex
        const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return regex.test(email);
    }
    </script>
{% endblock %}

{# action="{{ path('app_user_account_update_email') }}" #}
