{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="wrapper">
    <h3 class="mt-3 mb-2">Gérer mon compte</h3>
    <table class="table-small">
        <tbody>
            <tr>
                <th>Email</th>
                <td class="text-secondary-light">{{ user.email }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td class="text-secondary-light">{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td class="text-secondary-light">{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td class="text-secondary-light">{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td class="text-secondary-light">{{ user.birth ? user.birth|date('Y-m-d') : '' }}</td>
            </tr> 
            <tr>
                <th>Date de création du compte</th>
                <td class="text-secondary-light">{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> 
            <tr>
                <th>Date de modification du compte</th>
                <td class="text-secondary-light">{{ user.modifiedAt ? user.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> 
        </tbody>
    </table>

    <a class="link-02 mt-1" href="{{ path('app_user_account_edit') }}">Modifier le compte</a>
    <a class="link-02 mt-3" href="{{ path('app_user_account_edit_email') }}">Modifier l'adresse email</a>
    <a class="link-02 mt-3" href="{{ path('app_user_account_edit_password') }}">Modifier le mot de passe</a>
    {{ include('account/_delete_form.html.twig') }}
    <a class="link-02 mt-3" href="{{ path('app_home') }}">Retour à l'accueil</a>
</div>
{% endblock %}

{# 
app_user_account_edit_password
<tr>
    <th>Date de naissance</th>
    <td class="text-orange">{{ user.birth ? user.birth|frenchDateDay : '' }}</td>
</tr> 
#}

{# 
<tr>
    <th>Id</th>
    <td class="text-secondary-light">{{ user.id }}</td>
</tr>
#}

{#     <a class="btn-form" href="{{ path('app_account_edit', {'id': user.id}) }}">Modifier les informations</a>
    <a class="btn-form" href="{{ path('app_account_edit_email', {'email': user.email}) }}">Modifier l'email</a>
    <a class="btn-form" href="{{ path('app_account_edit_password') }}">Modifier le mot de passe</a>
    {{ include('account/_delete_form.html.twig') }}
 #}

 {#
 <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
 #}
