{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="main">
        
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté comme : {{ app.user.userIdentifier }} • <a  class="text-orange link-02" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>

            {% else %}
            <h3 class="h4 mt-3 mb-3 font-weight-normal text-center">Connectez-vous</h3>
            <form method="POST" class="d-flex flex-column align-items-center">
            
            
            <div class="w-100">
                <label for="username" class="text-orange">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="text-input" required>
            </div>
             <div class="w-100">
                <label for="password" class="mt-2 text-orange">Mot de passe</label>
                <div class="form-group-password-2">
                    
                        
                        <input type="password" name="_password" id="password" class="password-input" required>
                    
                    <a id="btn-see-password-login" class="btn-see-password">👁</a>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}

            <button class="mt-3 btn btn-sm btn-primary" type="submit">
                Connexion
            </button>
            </form>
            <a href="{{ path('app_register') }}" class="link-02 mt-3">S'inscrire</a>
            <a href="{{ path('app_home') }}" class="link-02 mt-3">Retour à l'accueil</a>
            {% endif %}


        
    </div>
    <script type="text/javascript">
        //document.addEventListener('turbo:load', (e) => {
            //console.log('login');

            //e.preventDefault();
            var btnSeePwd = document.getElementById('btn-see-password-login');
            if (btnSeePwd) {
                btnSeePwd.addEventListener('click', (event) => {
                    var input = document.getElementById('password');
                    if (input) {
                        input.type = input.type === "password" ? "text" : "password";
                    }
                });
            }
        //});
    </script>
{% endblock %}
