{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="main">
        
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté comme : {{ app.user.userIdentifier }} • <a  class="text-orange link-02" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>

            {% else %}
            <form method="post" class="d-flex flex-column align-items-center">
            <h2 class="h4 mb-3 font-weight-normal text-center">Connectez-vous</h2>
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            <label for="password" class="mt-2">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}

            <button class="mt-3 btn btn-sm btn-primary" type="submit">
                Connexion
            </button>
            </form>
            {% endif %}


        
    </div>
{% endblock %}
