{% extends 'base.html.twig' %}

{% block title %}Page Home{% endblock %}


{% block js %}

<script type="text/javascript" src="{{ asset('javascript/vue/MapVue.js') }}"></script>
<script type="text/javascript" src="{{ asset('javascript/manager/MapManager.js') }}"></script>
<script type="text/javascript" src="{{ asset('javascript/service/TownService.js') }}"></script>
<script type="text/javascript" src="{{ asset('javascript/service/FavoriteService.js') }}"></script>
<script type="text/javascript" src="{{ asset('javascript/service/CommentService.js') }}"></script>
<script type="text/javascript" src="{{ asset('javascript/service/SecurityService.js') }}"></script>
<script type="text/javascript" defer>
    var mapManager = new MapManager();
    mapManager.run();
</script>
{% endblock %}

{% block body %}
<div class="main">
    <div id="map"></div>
    {{ include('./home/div_buttons.html.twig') }}
    {{ include('./home/div_infos.html.twig') }}
    {{ include('./home/div_modal_comment.html.twig') }}
</div>
{% endblock %}