{% extends 'base.html.twig' %}

{% block title %}Page Home{% endblock %}

{% block body %}
<div class="main">
    <div id="map"></div>

    <p>Liste des villes à afficher :</p>
    <ul>
        {% for town in townsGps %}
            <li>{{ town.townName }} / {{ town.latitude }} / {{ town.longitude }}</li>
        {% else %}
            <li>Aucune ville trouvée</li>
        {% endfor %}
    </ul>
    <p class="mt-4">Liste des villes trouvées par nom :</p>
    <ul>
        {% for town in townsName %}
            <li>{{ town.townName }} / {{ town.latitude }} / {{ town.longitude }}</li>
        {% else %}
            <li>Aucune ville trouvée</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
{% block js %}
<script>
    console.log('test 01');
    document.addEventListener('DOMContentLoaded',() => {
    var map = L.map('map').setView([43.610769, 3.876716], 13);
    //console.log('test 02 : map : ', map);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
});
</script>
{% endblock %}