<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('image/favicon.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
        <link rel="stylesheet" href="{{ asset('css/weather-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/weather-icons-wind.min.css') }}">
        <link rel="stylesheet" href="{{ asset('app.css') }}">
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
        {% block stylesheets %}
        
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
        
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     
        <script>
            //const greenDotUrl = "{{ asset('image/green_dot.png') }}";
        </script>

        <script type="text/javascript" src="{{ asset('javascript/library/WeatherLibrary.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/service/TownService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/service/FavoriteService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/service/CommentService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/service/SchoolService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/service/EmploymentService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/service/SecurityService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/vue/MapVue.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/manager/MapManager.js') }}"></script>

        {% block js %}
        
        {% endblock %}
    </head>
    <body>
        {{ include('./body_templates/header.html.twig') }}
        <div class="main">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
       </div>
        {{ include('./body_templates/footer.html.twig') }}
    </body>
</html>
